[Unit]
Description=TimeOff Gunicorn daemon
After=network.target

[Service]
User=tcher
Group=www-data
WorkingDirectory=/home/tcher/timeoff
Environment="PATH=/home/tcher/timeoff/venv/bin"
EnvironmentFile=/home/tcher/timeoff/.env
ExecStart=/home/tcher/timeoff/venv/bin/gunicorn --workers 3 --bind unix:timeoff.sock -m 007 run:app

[Install]
WantedBy=multi-user.target
